/******Fonts*****/
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,700;1,100&display=swap');

/*****Header*****/
body{
    background-color:#e4d4d0;
    margin: auto;
    font-family: 'Georama', sans-serif;
    z-index: 0;
}

.banniere-contact{
    color: #e4d4d0;
    background-color:#b497b1;
    height: 35px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
}

.mail{
    opacity: 1.0;
    color: #FFF5EE;
    /*margin-left: 17%;*/
    margin-top: 7px;
}

.home-placement{
    margin-left: 18%;
    font-size: 1.25em;
    margin-top: 7px;
    color: #FFF5EE;;
}

.position-mail{
    margin-left: 17%;
}

.phone{
    opacity: 1.0;
    color: #FFF5EE;
    /*margin-left: 37%;*/
    margin-top: 7px;
}

.position-phone{
    margin-left: 17%;
}

.name{
    display: flex;
    justify-content: center;
}

.logo{
    margin-top: 23px;
    position: relative;
    width: 15%;
    height: 15%;
}

h1{
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 60px;
    color: #a60183;
}

h2{
    margin-top: 40px;
    margin-left: 65px;
    color: white;
    position: absolute;
}

h4{
    color: black;
    font-size: 0.4em;
    font-style: italic;
    font-weight: normal;
}

.principal-title{
    flex-direction: column;
}

.principal-title p{
    font-size: 1.10em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 1rem;
    height: 35px;
    margin: 0px;
}

ul{
    list-style: none;
}

li{
    margin-top: 7px;
    position: relative;
}

li:hover .sub-menu1{
    display: block;
    background-color: white;
}

.sub-menu1{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 0px;
    width: 132px;
    height: 58px;
}

.sub-menu1 li{
    display: block;
}

.li:hover .sub-menu1{
    display: block;
    background-color: white;
}

.sub-menu2{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 0px;
}

.sub-menu2 li{
    display: block;
    background-color: white;
}

.li:hover .sub-menu2{
    display: block;
    background-color: white;
}

.back-size{
    height: 620px;
}

.cover{
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.75;
    z-index: 0;
}

.action{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-section{
     font-weight: bold;
     text-align: center;
     font-size: 2em;
     margin-top: 200px;
 }

 .title-section2{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.title-section3{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-top: 70px;
}

 .adopted{
     text-align: center;
 }

 .opinion{
     width: 25%;
     flex-direction: column;
 }

 .title-opinion{
     font-weight: bold;
     margin-top: 35px;
 }

 .text-opinion{
     margin-bottom: 32px;
 }

 .avis{
     width: 40%;
     margin-bottom: 32px;
     border-radius: 15px;
     object-fit: cover;
     box-shadow: 0px 0px 15px #e7e7e7;
 }

 .facebook{
     display: flex;
     justify-content: space-between;
 }

.icone{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-image: url(https://i.pinimg.com/564x/5a/93/eb/5a93ebc2f932ebe425458a73586eee85.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    opacity: 0.75;
}

.fa-size{
    text-align: center;
    font-size: 7.5em;
    color: #b497b1;
}

 .avis{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin-left: 20px;
     margin-right: 20px;
     width: 30%;
     object-fit: cover;
     margin-top: 20px;
     align-items: center;
 }

 li:hover{
     color: #a60183;
 }

 .opinion{
     display: flex;
 }

 .back-pic{
     background-image: url(https://i.pinimg.com/564x/7a/f2/74/7af2748f7fc0eaac30a964e0b3641093.jpg);
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     height: 753px;
     opacity: 0.75;
 }

 .back-pic2{
     background-image: url(https://i.pinimg.com/564x/5a/93/eb/5a93ebc2f932ebe425458a73586eee85.jpg);
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     height: 753px;
     opacity: 0.75;
 }

 .back-pic3{
     background-image: url(https://i.pinimg.com/564x/54/b0/d3/54b0d3b6b070bcb489f0b4f042b0208d.jpg);
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     height: 753px;
     opacity: 0.75;
 }

 .back-pic4{
     background-image: url(https://i.pinimg.com/564x/8d/bd/2e/8dbd2e141b24b664882ff828395a0735.jpg);
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     height: 753px;
     opacity: 0.75;
 }

.articles{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

 .pic1{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    width: 96%;
    height: 108px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 113px;
 }

.zoom figure {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
}

.zoom figure:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

 .information{
    background-color: #b497b1;
    border-radius: 15px;
    padding: 2.5px;
    box-shadow: 0px 0px 15px #e7e7e7;
    box-sizing: border-box;
    align-items: center;
    margin: 30px;
    width: 25%;
 }

 .articles figcaption{
     color: #e4d4d0;
     text-align: center;
 }

.fa-size2{
    margin: 10px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.support{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
}

footer a{
    color: #e4d4d0;
}

.support{
    margin: auto;
}

.title-support{
    font-weight: bold;
    font-size: 1.35em;
}

footer{
     height: 150px;
     background-color: #b497b1;
     color: #e4d4d0;
     text-align: center;
 }